<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufrpe.beela.gui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity
            android:name="br.ufrpe.beela.usuario.gui.LoginAct"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufrpe.beela.usuario.gui.CriarContaAct"
            android:label="@string/criarConta" />
        <activity
            android:name="br.ufrpe.beela.usuario.gui.HomeAct"
            android:label="@string/BeeLa" />
        <activity
            android:name="br.ufrpe.beela.usuario.gui.ConfiguracoesAct"
            android:label="@string/Configuracoes" />
        <activity
            android:name="br.ufrpe.beela.usuario.gui.ApagarContaAct"
            android:label="@string/ApagarConta" />
        <activity
            android:name="br.ufrpe.beela.usuario.gui.AlterarNomeAct"
            android:label="@string/AlterarNome" />
        <activity
            android:name="br.ufrpe.beela.usuario.gui.AlterarSenhaAct"
            android:label="@string/AlterarSenha" />
        <activity
            android:name="br.ufrpe.beela.usuario.gui.EsqueceuSenhaAct"
            android:label="@string/esqueciSenha" />
        <activity
            android:name="br.ufrpe.beela.perfil.gui.PerfilAct"
            android:label="@string/perfil" />
        <activity
            android:name="br.ufrpe.beela.perfil.gui.PerguntasComidasAct"
            android:label="@string/adicionarPerfil" />
        <activity
            android:name="br.ufrpe.beela.perfil.gui.PerguntasMusicaAct"
            android:label="@string/adicionarPerfil" />
        <activity
            android:name="br.ufrpe.beela.perfil.gui.NomePerfilAct"
            android:label="@string/nomePerfil" />
        <activity
            android:name="br.ufrpe.beela.perfil.gui.PerfilPrioridadeAct"
            android:label="@string/prioridadePerfil" />
        <activity android:name="br.ufrpe.beela.perfil.gui.PerguntasPerfilAct" />

        <activity android:name="br.ufrpe.beela.perfil.gui.PerguntasEsporteAct"
            android:label="@string/adicionarPerfil"></activity>
    </application>

</manifest>