<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.rodriguesufrpe.anderson.beela">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/BeeLa"
        android:theme="@style/Theme">
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CriarConta"
            android:label="@string/criarConta" />
        <activity
            android:name=".home"
            android:label="@string/BeeLa" />
        <activity
            android:name=".Configuracoes"
            android:label="@string/Configuracoes" />
        <activity
            android:name=".ApagarConta"
            android:label="@string/ApagarConta" />
        <activity
            android:name=".AlterarNome"
            android:label="@string/AlterarNome" />
        <activity android:name=".AlterarSenha"
            android:label="@string/AlterarSenha"></activity>
    </application>

</manifest>